@font-face {
  font-family: qatar2022;
  src: url(assets/font/Qatar2022/Qatar2022Arabic-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0A21A6;
  --color2: #3243A6;
  --color3: #144027;
  --color4: #F2C84B;
  --color5: #A64E2E;

  --color6: #590B19;
  --color7: #731D2C;
  --color8: #8C2A3C;
  --color9: #BF99A0;
  --color10: #D9D9D9;
  /* https://color.adobe.com/pt/search?q=Qatar%20world%20cup */
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: var(--color3);
  background: url('https://img.freepik.com/free-vector/football-2022-tournament-cup-background_206725-604.jpg?w=1060&t=st=1666742836~exp=1666743436~hmac=c5079856a917f5b9d97d7df1ff2dc78ef942118daafe6e24798f5cf60e1581ab') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 5rem;
  color: var(--color4);
  font-family: 'qatar2022';
}

.head-group-container {
  background-color: var(--color4);
  width: 100%;
  padding: .5rem 0;
  border-radius: .5rem .5rem 0 0;
  text-align: center;
}

.head-group-container h3{
  font-size: 1.6rem;
  color: var(--color3);
}

.group-container {
  margin: 2rem;
  background-color: rgb(255, 255, 255, 0.8);
  border: none;
  border-radius: .5rem;
  width: 25rem;
}

.group-container ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color3);
}

.group-container ul li p {
  font-size: 1.4rem;
  color: black;
}

.group-container ul li img{
  border-radius: .5rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  margin: 1rem 2rem;
}